.loan-list-page__detail-tab-container {
  th {
    font-weight: 700;
    font-size: 14px;
  }
  th,
  td {
    text-align: center;
  }
  .lent-chip {
    background-color: orange;
  }
  .borrowed-chip {
    background-color: red;
  }
  .chip-width {
    min-width: 80px;
    font-size: 12px;
  }
  .detail-loan-table {
    height: calc(100vh - 235px);
  }
}
